/* SUMMARY */

/* === 1. NORMALIZING STYLES === */

/* === 2. GLOBAL STYLES === */

/* === 3. HEADER === */

/* == 3.1 MENU == */

/* === 4. MAIN === */

/* === 5. FOOTER === */

/* --------------------------------------------- */

/* 1. NORMALIZING STYLES */

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

/* === 2. GLOBAL STYLES === */
body {
	background-color: #000000;
	font-family: "Montserrat", sans-serif;
}
.global-container {
	max-width: 100vw;
	max-height: 100vh;
}
.mask {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6; /* Убедимся, что z-index маски ниже, чем у текста */
    opacity: 1; /* Начальное значение непрозрачности */
    transition: opacity 1s ease-in-out 2s; /* Плавное изменение прозрачности с задержкой в 2 секунды */
    display: flex;
    justify-content: center;
    align-items: center;
}
.hidden {
	opacity: 0;
}
.text {
    color: #fff;
    z-index: 7; /* Убедимся, что z-index текста выше, чем у маски */
    font-family: "Dynalight", cursive;
    font-size: 122px;
    opacity: 0; /* Начальное значение непрозрачности */
	transition: opacity 2s ease-in-out; /* Плавное изменение прозрачности */
}
@media (max-width: 768px) {
	.text {
		font-size: 64px;
	}
}
.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 20px 0 20px;
}

/* === 3. HEADER === */

header {
	width: 100%;
	max-height: 50px;
	margin: 0 0 30px 0;
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 50%;
}
#logo {
	font-family: "Dynalight", cursive;
	font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1920 - 320)));
	color: #fff;
}

/* == 3.1 MENU === */
menu {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: right;
	z-index: 5;
}

.menuContainer {
	width: 100%;
	height: 100%;
	margin: 0px auto;
	display: flex;
	align-items: center;
	justify-content: right;
	flex-wrap: nowrap;
}

.menuIcon {
	display: none;
}

.menuList>li {
	position: relative;
	width: fit-content;
	margin-right: calc(24px + (59 - 24) * ((100vw - 991px) / (1920 - 991)));
}
.menuList>li:last-child {
	margin-right: 0;
}
@media (min-width: 1921px) {
	.menuList>li {
		margin-right: 70px;
	}
}
.menuLink {
	color: #fff;
	font-size: calc(13px + (24 - 13) * ((100vw - 991px) / (1920 - 991)));
	text-decoration: none;
}
.menuLink:hover {
	opacity: 0.8;
}
@media (min-width: 1921px) {
	.menuLink {
		font-size: 24px;
	}
}
.menuSubList {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #000;
	padding: 10px;
	min-width: 300px;
	height: auto;
}

.menuSubList li {
	margin: 0px 0px 20px 0px;
}

.menuSubList li:last-child {
	margin: 0;
}

.menuSubLink {
	color: #fff;
	text-decoration: none;
}

.menuSubLink:hover {
	opacity: 0.8;
}

.menuArrow {
	display: none;
}

body._pc .menuList>li:hover .menuSubList {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menuList>li {
	display: flex;
	align-items: center;
}

body._touch .menuLink {
	flex: 1 1 auto;
}

body._touch .menuArrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menuList>li._active .menuSubList {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menuList>li._active .menuArrow {
	transform: rotate(-180deg);
}

@media (min-width: 991px) {
	.menuList {
		display: flex;
	}

	.menuList>li {
		padding: 10px 0;
	}

	.menuSubList {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}

@media (max-width: 991px) {
	.menuWraper {
		padding: 10px;
	}

	.menuIcon {
		z-index: 2;
		display: block;
		position: absolute;
		right: 20px;
		width: 30px;
		height: 20px;
		cursor: pointer;
		margin-left: 0px;
		margin-top: 0px;
	}

	.menuIcon span,
	.menuIcon::before,
	.menuIcon::after {
		right: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}

	.menuIcon::before,
	.menuIcon::after {
		content: "";
	}

	.menuIcon::before {
		top: 0;
	}

	.menuIcon::after {
		bottom: 0;
	}

	.menuIcon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menuIcon._active span {
		transform: scale(0) translate(0px, -50%);
	}

	.menuIcon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}

	.menuIcon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menuBody {
		position: fixed;
		top: 0px;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #000;
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menuBody._active {
		left: 0;
	}

	.menuBody::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 100px;
		left: 0;
		height: 70px;
		z-index: 20;
	}

	.menuList>li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}

	.menuList>li:last-child {
		margin-bottom: 0;
	}

	.menuList>li._active .menuSubList {
		display: block;
	}

	.menuLink {
		font-size: 24px;
	}

	.menuSubList {
		position: relative;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
		background-color: #000;
	}

	.menuSubLink {
		font-size: 20px;
		color: #fff;
	}
}

@media (max-width: 991px) {
	.menuContainer {
		right: 0;
		width: 100%;
		margin: 0px auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

@media (max-width: 460px) {
	.menuContainer {
		justify-content: center;
	}

	.logo {
		margin-top: 20px;
	}
}

/* === 4. MAIN === */
.main-page-container {
    width: 100%;
    height: calc(100vh - 180px);
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden; /* Чтобы избежать появления горизонтальной прокрутки */
	/* position: absolute; */
}

.image-container {
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: calc(100vh - 180px);
	object-fit: cover; /* Сохраняет пропорции изображения и обрезает лишнее, чтобы оно занимало всю доступную область */
}
.overlay {
	position: absolute;
	top: 80px;
	left: 0;
	width: 100vw;
	height: calc(100% - 120px);
	background-color: #000;
	opacity: 0.5;
	z-index: 2;
}
.citation-wraper {
	position: fixed;
	top: 35%;
	left: 10%;
	color: #fff;
	z-index: 4;
	font-family: "Dynalight", cursive;
	font-size: calc(22px + (60 - 22) * ((100vw - 320px) / (1920 - 320)));
	flex-direction: column;
	height: auto;
	justify-content: space-evenly;
	font-family: "Dynalight", cursive;
}
@media (max-width: 2560px) {
	.citation-wraper {
		left: 20%;
	}
}
@media (min-width: 2560px) {
	.citation-wraper {
		left: 27%;
	}
}
@media (max-width: 1600px) {
	.citation-wraper {
		left: 6%;
	}
}
@media (max-width: 640px) {
	.citation-wraper {
		top: 30%;
		left: 3%;
	}
}
@media (max-width: 480px) {
	.citation-wraper {
		top: 35%;
		left: 3%;
	}
}
@media (max-width: 320px) {
	.citation-wraper {
		top: 20%;
		left: 3%;
	}
}
.picasso {
	margin-top: 20px;
	text-align: right;
}
.slider-main-page {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1880px;
	height: 200px;
	margin: 0 auto;
	z-index: 4;
	position: fixed;
	bottom: 60px;
	left: 0;
	right: 0;
	overflow: hidden;
}

.swiper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
    height: 100%;
}
.swiper-slide {
	width: 100%;
	height: auto;
    transition: transform 0.5s ease;
    padding: 0;
}
.swiper-slide img {
	width: 100%;
	height: auto;
}

/* 5. === FOOTER === */

footer {
	width: 100%;
	height: 50px;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	z-index: 5;
}

.line {
	margin-bottom: 10px;
	font-size: calc(12px + (12 - 12) * ((100vw - 320px) / (1920 - 320)));
}
#legal {
	text-align: right;
}

@media (max-width: 575px) {
	
	footer {
		margin-top: 15px;
		width: 100%;
		height: 85px;
		display: flex;
		flex-direction: column-reverse;
	}
	.copyright {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}
	.legal {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: first baseline;
		text-align: right;
		margin-bottom: 10px;
	}
	#facebook {
		text-align: left;
	}
	#legal {
		text-align: right;
	}
	footer>div:first-child {
		width: 100%;
	}
	.legal:last-child {
		width: 100%;
	}
}

/* FOOTER END */